body {
  margin: 0;
}

.btn-plan {
  background-color: #ffebf8;
}

.fs-5px {
  font-size: 6px;
}

.bg-card-highlight {
  background-color: #448fff;
}

.check-purple {
  color: #5243c2;
  font-size: 18px;
  /* font-weight: 400; */
  border-radius: 10px;
}

.check-white {
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}

.fw-semibold {
  font-weight: 500;
}

.rounded-custom {
  border-radius: 15px;
}

.start-85 {
  left: 85%;
}

.shadow-blue {
  box-shadow: 0 12px 7px -7px #6b88b9;
}

.border-blue {
  border-left: 5px solid #448fff;
}

.fs-xs {
  font-size: 14px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.btn-icon-1 {
  height: 30px;
  width: 30px;
}

.btn-icon-2 {
  height: 25px;
  width: 25px;
}

.btn-width {
  width: 14rem;
}
